{% extends '../base.html' %}
{% load static form_tags %}

{% block page_title %}Point-of-Sale{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'load_pos' transaction.pk %}">Point-of-Sale</a></li>
    <li class="breadcrumb-item active">Checkout</a></li>
{% endblock breadcrumb %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"> 
  <style>
    .btn-menu {
        width: 180px;
    }
</style>
{% endblock css %}

{% block main_content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <input type="hidden" name="sales_pk" id="sales_pk" value="{{ transaction.pk }}">
        </div>
        <div class="modal-content"></div>
    </div>
</div>

    <div class="card col-11 m-4">
        <form id="checkout-form" action="{% url 'completeCheckout' transaction.pk %}" method="post" novalidate>
            <input type="hidden" name="details" id="details">
            {% csrf_token %}

            <div class="card-header">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="row mb-1">
                            <div class="col-lg-3 col-md-6 text-large">SI #</div>
                            <div class="col-lg-9 col-md-6 text-large">
                                <input id="txtSI" type="text" class="form-control" value="{{ transaction.get_next_si|seq_num }}" disabled>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-lg-3 col-md-6 text-large">Customer</div>
                            <div class="col-lg-9 col-md-6">
                                <input id="txtCustomer" type="text" class="form-control" value="{{ transaction.get_customer }}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2"></div>

                    <div class="col-lg-5 col-md-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 text-large">PAYABLE</div>
                            <div class="col-lg-9 col-md-6 text-large text-right"><h3>{{ transaction.payable|peso }}</h3></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-3 col-md-6 text-large">TENDERED</div>
                            <div class="col-lg-9 col-md-6 text-large text-right text-success"><h3>{{ transaction.tendered|peso }}</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 text-large">CHANGE</div>
                            <div class="col-lg-9 col-md-6 text-large text-right"><h1>{{ transaction.change|peso }}</h1></div>
                            <input type="hidden" name="change-amount" id="change-amount" value="{{ transaction.change }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="{% url 'pos' %}" role="button" class="btn btn-default btn-menu">Back to Cart</a>
                        <button type="button" class="btn btn-primary btn-menu" id="add-payment">Add Payment</button>
                        <button type="button" class="btn btn-success btn-menu" id="complete-payment" {% if transaction.change < 0 %}disabled{% endif %}>Complete Payment</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <h3>Payments received:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-sm table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <td>Payment Type</td>
                                    <td>Details</td>
                                    <td class="text-right">Amount</td>
                                </tr>
                            </thead>
                            <tbody>

                                
                                {% if items %}
                                    
                                    {% for item in items %}
                                    <tr>
                                        <td>
                                            <a href="#" class="delete-item" data-form-url="{% url 'removePayment' transaction.pk item.pk %}"><i class="far fa-minus-square text-danger" title="Remove"></i></a> 
                                            {{ item.payment_mode }}
                                        </td>
                                        <td> {{ item.details }}</td>
                                        <td class="text-right">{{ item.amount|peso }}</td>
                                    </tr>
                                    {% endfor %}

                                {% else %}
                                    <tr><td colspan="4" class="text-center">No payment received yet.</td></tr>
                                {% endif %}
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    
<form id="delete_form" method="POST">
    {% csrf_token %}
</form>

{% endblock main_content %}


{% block js %}
    
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<!-- bootboxjs -->
<script src="{% static 'js/bootbox.all.min.js' %}"></script>
<script>
$(document).ready(function() {
    
    $('#complete-payment').click(function() {
        let info_required = '{{ transaction.is_buyer_info_required }}';
        console.log(info_required);
        if (info_required == 'True') {
            bootbox.prompt({
                title: "Please enter buyer's information and other details.",
                inputType: 'textarea',
                callback: function (result) {
                    if (result == null || result == '') {
                        bootbox.alert("Buyer's information is required to complete this purchase.");
                    }
                    else {
                        $('#details').val(result);
                        $('#checkout-form').submit();
                    }
                }
            });
        }
        else {
            $('#details').val('');
            $('#checkout-form').submit();
        }
    });

    $("#add-payment").modalForm({
        formURL: "{% url 'payment' transaction.pk %}"
    });
        
    function deleteItemModalForm() {
        $(".delete-item").each(function () {
            $(this).click(function() {
                var url = $(this).data("form-url");
                bootbox.confirm("Are you sure you want to remove this payment record?", function(result){ 
                    if (result) {
                        // location.href = url;
                        $('#delete_form').attr('action', url);
                        $('#delete_form').submit()
                    }
                });
            });
        });
    }
    deleteItemModalForm();
})
</script>
{% endblock js %}
    