{% load static %}
{% load humanize %}
{% load form_tags %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">

<form id="search_discount_form" method='post' class="form" role="form">
    <div class="modal-header">
        <h3 class="modal-title">Apply Discount</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 class="card-title">Please fill in all the fields marked with an <label class="required">asterisk</label>.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                {% crispy form %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <label for="id_password">Manager's Password<span class="asteriskField">*</span></label>
                <input type="password" name="id_password" id="id_password" class="form-control">
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" value="Go" style="margin-bottom: 5px;" id="discount_search_go" />
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" id="close" />
    </div>
</form>

<!-- Select2 -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/bootbox.all.min.js' %}"></script>

<script>
$(document).ready(function() {
    $('#discount_search_go').click(function() {
        // validate required fields
        let required_fields = ['id_discount_type'];
        for (let i = 0; i < required_fields.length; i++) {
            let field = required_fields[i];
            if (!$('#' + field).val()) {
                bootbox.alert("Please fill in all the required fields.");
                return;
            }
        }

        // validate password
        let pw = $('#id_password').val();
        console.log(pw);
        $.ajax({
            url: "{% url 'validate_discount_pw' %}",
            type: 'GET',
            data: {'id_password': pw},
            dataType: 'json',
            success: function(data) {
                console.log(data);
                if (data) {
                    $('#search_discount_form').submit();
                }
                else {
                    bootbox.alert("Incorrect manager's password. Discount was not granted.");
                }
            }
        })
    })

    $('#id_discount_type').focus();
});
</script>