{% extends '../base.html' %}
{% load static form_tags %}

{% block page_title %}Sales Invoice{% endblock page_title %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"> 

<style>
    .receipt {
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .taller { transform: scaleY(1.5); }
    .wrap40 {
        inline-size: 40ch;
        overflow-wrap: break-word;
    }
    .pre {
        font-family: monospace;
        white-space: pre-wrap;
    }
    .text-center {
        text-align: center;
    }
    .c_qty {
        display: inline-block;
        width: 4ch;
        text-align: right;
        vertical-align: top;
    }
    .c_item {
        display: inline-block;
        width: 23ch;
        text-align: left;
        vertical-align: top;
    }
    .c_amt {
        display: inline-block;
        width: 11ch;
        text-align: right;
        vertical-align: top;
    }
    .c_desc {
        display: inline-block;
        width: 28ch;
        text-align: left;
    }
    .c_value {
        display: inline-block;
        width: 12ch;
        text-align: right;
    }
    .btn-menu {
        width: 100pt;
        margin-left: 10pt;
    }
</style>
{% endblock css %}
    
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'pos' %}">Point-of-Sale</a></li>
<li class="breadcrumb-item active">Sales Invoice</a></li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card col-11 m-auto">
    <div class="card-header no-print">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                {% if not for_transaction %}
                <button class="btn btn-primary btn-menu" id="print">Print</button>
                {% else %}
                <button class="btn btn-warning btn-menu" id="reprint" {% if transaction.cancelled_on %}style="display: none;"{% endif %}>Re-Print</button>
                <button class="btn btn-danger btn-menu" id="cancel" {% if transaction.cancelled_on %}style="display: none;"{% endif %}>Cancel</button>
                {% endif %}
                <a class="btn btn-secondary btn-menu" href="{% url 'pos' %}">POS</a>
            </div>
        </div>
    </div>
    <div class="card-body">
<div class="receipt wrap40 m-auto">
<div class="text-center text-uppercase pre wrap40 taller">AKEMPCO Store</div>
<div class="text-center pre wrap40">Operated by: AKEMPCO</div>
<div class="text-center pre wrap40">{{ akempco.address }}</div>
<div class="text-center pre wrap40">{% if akempco.registration_number %}{{ akempco.registration_number }}{% endif %}</div>
<div class="pre wrap40">========================================</div>
<div id="reprint-text" class="text-center taller" {% if not transaction.last_reprint %}style="display: none;"{% endif %}>- - - R E - P R I N T E D - - -</div>
<div id="cancel-text" class="text-center taller" {% if not transaction.cancelled_on %}style="display: none;"{% endif %}>- - - C A N C E L L E D - - -</div>
<div class="pre wrap40">SI#:     {{ transaction.pk|seq_num }}
DATE:    {{ transaction.si_date|date:'m/d/Y'}}    TIME: {{ transaction.si_time|date:'h:i:s A' }}
CASHIER: {{ user.pk }}-{{ user.get_full_name }}
========================================
 QTY DESCRIPTION                  AMOUNT
{% for item in items %}<div class="c_qty">{{ item.quantity }}{{ item.is_wholesale|yesno:'W,R,-' }}</div> <div class="c_item">{{ item.product.full_description }} @{{ item.unit_price|currency }}</div> <div class="c_amt">{{ item.subtotal|currency }}{{ item.product.tax_type }}</div>{% endfor %}
========================================
<div class="c_desc">{{ transaction.sales.item_count }} item(s)</div><div class="c_value">{{ transaction.sales.total }}</div>{% if transaction.sales.discount_type %}
<div class="c_desc">Sales {{ transaction.sales.discount_type.name }}</div><div class="c_value">{{ transaction.sales.with_discount_total|currency }}  </div>{% if akempco.vatable %}
<div class="c_desc">Less: VAT</div><div class="c_value">-{{ transaction.sales.less_vat_total|currency }}</div>
<div class="c_desc">  Sales without VAT</div><div class="c_value">{{ transaction.sales.sales_without_vat|currency }}  </div>{% endif %}
<div class="c_desc">Less: {{ transaction.sales.discount_type.name }} DISC</div><div class="c_value">-{{ transaction.sales.less_discount_total|currency }}</div>{% endif %}
<div class="c_desc taller">AMOUNT DUE:</div><div class="c_value taller">{{ transaction.sales.payable|currency }}</div>
{% for payment in payments %}<div class="c_desc">{{ payment.payment_mode }}:</div><div class="c_value">{{ payment.amount|currency }}</div>{% endfor %}
<div class="c_desc taller">CHANGE:</div><div class="c_value taller">{{ transaction.sales.change|currency }}</div>
========================================
<div class="c_desc">VATable Sale:</div><div class="c_value">{{ transaction.sales.vatable|currency }}</div>
<div class="c_desc">VAT Amount:</div><div class="c_value">{{ transaction.sales.vat|currency }}</div>
<div class="c_desc">VAT-Exempt Sale:</div><div class="c_value">{{ transaction.sales.vat_exempt|currency }}</div>
<div class="c_desc">Zero-Rated Sale:</div><div class="c_value">{{ transaction.sales.zero_rated|currency }}</div>
========================================
          CUSTOMER INFORMATION
Name: {% if transaction.sales.customer.name %}{{ transaction.sales.customer.name }}{% else %}__________________________________{% endif %}
Address: {% if transaction.sales.customer.address %}{{ transaction.sales.customer.address }}{% else %}_______________________________{% endif %}
TIN: {% if transaction.sales.customer.tin %}{{ transaction.sales.customer.tin }}{% else %}___________________________________{% endif %}{% if transaction.sales.discount_type %}
ID #: {{ transaction.sales.customer_id_card }}{% endif %}
========================================
</div>
<div class="text-center pre wrap40">F-1 IT SYSTEM SOLUTIONS CORPORATION
2nd Floor D-2 Q-Building, Pastrana 
Street, Kalibo, Aklan
Supplier TIN: 000-000-000-0000
ACC: 000-000000000-000000
Date Acc: 10/11/2012
Valid Until: 07/08/2029
0000-000-000000-000
Date Issued: 03/04/2022
Valid Until: 07/08/2029
THIS INVOICE/RECEIPT SHALL BE VALID FOR
FIVE (5) YEARS FROM TH DATE OF THE
PERMIT TO USE.
========================================
THIS SERVES AS AN OFFICIAL RECEIPT
Bring this receipt in case of exchange
of merchandise within 7 days.
THANK YOU AND COME AGAIN!
</div>
</div>
</div>
</div>
{% endblock main_content %}


{% block js %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<!-- bootboxjs -->
<script src="{% static 'js/bootbox.all.min.js' %}"></script>

<script>
    $(document).ready(function() {

        $('#print').click(function() {
            window.print();
        });

        $('#reprint').click(function() {
            var dialog = bootbox.confirm("Are you sure you want to re-print this sales invoice?", function(result){ 
                if (result) {
                    
                    $.ajax({
                        url: "{% url 'reprint_receipt' transaction.pk %}",
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                            $('#reprint-text').css('display', 'block');
                            dialog.modal('hide');
                            window.print();
                        }
                    });
                }
            });
        })

        $('#cancel').click(function() {
            var dialog = bootbox.confirm("Are you sure you want to cancel this sales invoice? This requires the manager's approval.", function(result){ 
                if (result) {
                    dialog.modal('hide');
                    dialog = bootbox.prompt({
                        title: "Manager's Password:",
                        inputType: 'password',
                        callback: function(result) {
                            if (result !== null) {
                                $.ajax({
                                    url: "{% url 'cancel_receipt' transaction.pk %}",
                                    type: 'GET',
                                    data: {'password': result},
                                    dataType: 'json',
                                    success: function(data) {
                                        console.log(data);
                                        if (data) {
                                            $('#cancel-text').css('display', 'block');
                                            window.print();
                                        }
                                        else {
                                            bootbox.alert("Incorrect manager's password. Cancellation was not performed.")
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
            });
        })
    });

    $(document).on('keydown', function(e) {
    if((e.ctrlKey || e.metaKey) && (e.key == "p" || e.charCode == 16 || e.charCode == 112 || e.keyCode == 80) ){
        bootbox.alert("Please use the buttons provided for a better rendering of the document.");
        e.cancelBubble = true;
        e.preventDefault();

        e.stopImmediatePropagation();
    }  
});
</script>
{% endblock js %}