<div class="card-tools float-right">
    <div class="input-group input-group" style="width: 200px;">
        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" value="{{ table_search }}">

        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-warning">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="input-group-append">
            <button type="button" onclick="window.location = window.location.href.split('?')[0];" class="btn btn-outline-secondary">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</div>