
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link" id="menu_dashboard">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item" id="menu_fm">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file-signature"></i>
              <p>
                File Maintenance
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item type4" id="menu1">
                <a href="{% url 'product_list' %}" class="nav-link" id="menu_fm_product">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Products</p>
                </a>
              </li>
              <li class="nav-item type3" id="menu2">
                <a href="{% url 'supplier_list' %}" class="nav-link" id="menu_fm_supplier">
                  <i class="fas fa-truck nav-icon"></i>
                  <p>Suppliers</p>
                </a>
              </li>
              <li class="nav-item type2" id="menu3">
                <a href="{% url 'category_list' %}" class="nav-link" id="menu_fm_category">
                  <i class="fas fa-layer-group nav-icon"></i>
                  <p>Categories</p>
                </a>
              </li>
              <li class="nav-item type1" id="menu4">
                <a href="{% url 'uom_list' %}" class="nav-link" id="menu_fm_uom">
                  <i class="fas fa-ruler nav-icon"></i>
                  <p>Units of Measure</p>
                </a>
              </li>
              <li class="nav-item type10" id="menu10">
                <a href="{% url 'cred_list' %}" class="nav-link" id="menu_fm_cred">
                  <i class="fas fa-user-tag nav-icon"></i>
                  <p>Creditors</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item" id="menu_trans">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-briefcase"></i>
              <p>
                Transactions
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item type13" id="menu13">
                <a href="{% url 'pos' %}" class="nav-link" id="menu_trans_pos">
                  <i class="fas fa-shopping-cart nav-icon"></i>
                  <p>Point-of-Sale</p>
                </a>
              </li>
              <li class="nav-item type5" id="menu5">
                <a href="{% url 'purchase_suppliers' %}" class="nav-link" id="menu_trans_purchases">
                  <i class="fas fa-store nav-icon"></i>
                  <p>Purchases</p>
                </a>
              </li>
              <li class="nav-item type7" id="menu7">
                <a href="{% url 'stock_list' %}" class="nav-link" id="menu_trans_stocks">
                  <i class="fas fa-boxes nav-icon"></i>
                  <p>Stock Management</p>
                </a>
              </li>
              <li class="nav-item type6" id="menu6">
                <a href="{% url 'price_review' %}" class="nav-link" id="menu_trans_pricing">
                  <i class="fas fa-tags nav-icon"></i>
                  <p>Price Management</p>
                </a>
              </li>
              <li class="nav-item" id="menu14">
                <a href="{% url 'payable_list' %}" class="nav-link" id="menu_trans_payment">
                  <i class="fas fa-money-bill nav-icon"></i>
                  <p>Member Payment</p>
                </a>
              </li>
              <li class="nav-item type12" id="menu12">
                <a href="{% url 'bo_list' %}" class="nav-link" id="menu_trans_bo">
                  <i class="fas fa-thumbs-down nav-icon"></i>
                  <p>Bad Orders</p>
                </a>
              </li>
              <li class="nav-item type16" id="menu16">
                <a href="{% url 'adjustment_list' %}" class="nav-link" id="menu_trans_adj">
                  <i class="fa-solid fa-plus-minus nav-icon"></i>
                  <p>Stock Adjustment</p>
                </a>
              </li>
              <li class="nav-item type17" id="menu17">
                <a href="{% url 'request_list' %}" class="nav-link" id="menu_trans_req">
                  <i class="fa-solid fa-pen-to-square nav-icon"></i>
                  <p>Entry Adjustment</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item" id="menu_rpt">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-area"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item type9" id="menu9">
                <a href="{% url 'product_list_history' %}" class="nav-link" id="menu_rpt_history">
                  <i class="fas fa-history nav-icon"></i>
                  <p>Product History</p>
                </a>
              </li>
              <li class="nav-item type9" id="menu9">
                <a href="{% url 'product_list_critical' %}" class="nav-link" id="menu_rpt_critical">
                  <i class="fa-solid fa-file-circle-exclamation nav-icon"></i>
                  <p>Critical Level Products</p>
                </a>
              </li>
              <li class="nav-item type9" id="menu9">
                <a href="{% url 'itr_report' 2 %}" class="nav-link" id="menu_rpt_itr">
                  <i class="fas fa-chart-pie nav-icon"></i>
                  <p>Inventory Turnover Ratio</p>
                </a>
              </li>
            </ul>

        </ul>
      </nav>