{% extends '../base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block page_title %}Entry Adjustment Requests{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Entry Adjustment</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="get">
            <div class="card-header">
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="{% url 'request_new' %}" class="btn btn-primary">New</a>                        
                </div>
                </div>
            </div>
        </form>
        <div class="card-body table-responsive">
            <table id="dtAdjustment" class="table table-hover table-head-fixed table-sm">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">Action</th>
                        <th>Requested At</th>
                        <th>Transaction Type</th>
                        <th>Reference Number</th>
                        <th>Adjustment Detail</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

{% endblock main_content %}


{% block js %}
    <script src="{% static 'js/date-format.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#dtAdjustment").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'request_dtlist' %}", 
                columns: [
                    {   
                        name: "links",
                        data: 0,
                        render: function (data) {
                            let links = '<a href="' + data + '/view" title="View"><i class="fas fa-eye"></i></a>';

                            return links;
                        },
                        className: 'text-center'
                    },
                    {
                        name: "requested_at",
                        data: 1,
                        render: function (data) {
                            return formatDate(new Date(data));
                        }
                    },
                    {   
                        name: "transaction_type",
                        data: 2,
                    },
                    {   
                        name: "reference_num",
                        data: 3,
                    },
                    {   
                        name: "adjustment_detail",
                        data: 4,
                    },
                    {   
                        name: "reason",
                        data: 5,
                    },
                    {
                        name: "status", 
                        data: 6,
                    },
                ],
                order: [[1, 'desc']],
            });
            
            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_req").addClass("active")
        })
    </script>
{% endblock js %}
    