{% extends '../base.html' %}
{% load static form_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">
    <style>
        tr.bg-danger a i {
            color: rgb(220, 220, 220);
        }
        tr.bg-info a i {
            color: rgb(55, 53, 53);
        }
    </style>
{% endblock css %}
    
{% block page_title %}
{{ supplier.supplier_name }}
<div class="text-muted"><h4>Purchase Orders</h4></div>
{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'purchase_suppliers' %}">Purchases</a></li>
    <li class="breadcrumb-item active">Purchase Orders</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <form method="get">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="{% url 'po_create' supplier.pk %}" class="btn btn-primary">New Purchase Order</a>
            </div>
            </div>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table class="table table-hover table-head-fixed table-sm">
            <thead>
                <tr>
                    <th width="10%">Action</th>
                    <th width="15%" class="text-left">PO Number</th>
                    <th width="15%" class="text-left">PO Date</th>
                    <th width="15%" class="text-left">Category</th>
                    <th width="10%"># of Items</th>
                    <th width="15%">Total Amount</th>
                    <th width="20%" class="text-left">Status</th>
                </tr>
            </thead>
            <tbody>

                {% if not po %}
                    <tr><td colspan="7" style="text-align: center;">No data found.</td></tr>
                {% else %}

                {% for item in po %}
                    <tr>
                        <td class="text-center">
                            
                            {% if item.status == 'Open' %}
                            <a href="{% url 'po_products' item.pk %}" title="Manage PO"><i class="fas fa-check-double"></i></a>                                
                            {% else %}
                            <a href="{% url 'po_products' item.pk %}" title="View PO"><i class="far fa-eye"></i></a>
                            {% endif %}
                                
                        </td>
                        <td>{{ item.pk|seq_num }}</td>
                        <td>{{ item.po_date|date:"F d, Y" }}</td>
                        <td>{{ item.category }}</td>
                        <td class="text-center">{{ item.item_count }}</td>
                        <td class="text-right">{{ item.total_po_amount|peso }}</td>
                        <td class="{{ item.get_status_css_class}}">{{ item.status }}</td>
                    </tr>
                {% endfor %}

                {% endif %}
                    
            </tbody>
        </table>
    </div>
</div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_purchases").addClass("active")
        })
    </script>
{% endblock js %}