{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load form_tags %}
{% load crispy_forms_tags %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">    
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"> 
  
  <!-- Toastr -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
{% endblock css %}

{% block page_title %}
{{ supplier.supplier_name }}
<div class="text-muted"><h4>{% if po.is_approved %}Manage{% else %}Create{% endif %} Purchase Order</h4></div>
{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'purchase_suppliers' %}">Purchases</a></li>
    <li class="breadcrumb-item"><a href="{% url 'po_list' supplier.pk %}">Purchase Orders</a></li>
    <li class="breadcrumb-item active">Products</li>
{% endblock breadcrumb %}

{% block main_content %}

 <!-- Messages -->
 <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
</div>
<!-- End Messages -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <input type="hidden" name="supplier_id" id="supplier_id" value="{{ supplier.pk }}">
        </div>
        <div class="modal-content"></div>
    </div>
</div>

<form id="submit_po_form" method="POST">
{% csrf_token %}
<div class="card m-4">
    <div class="card-header">
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-lg-1 invoice-col">PO #:</div>
            <div class="col-lg-5 invoice-col font-weight-bold">
                {{ po.pk|seq_num }} 
                
                {% if po.parent_po %}
                    <span class="text-muted">(Parent PO#: <a href="{% url 'po_products' po.parent_po %}">{{ po.parent_po|seq_num }}</a>)</span>
                {% endif %}
                    
            </div>
            <div class="col-lg-1 invoice-col">PO Date:</div>
            <div class="col-lg-5 invoice-col font-weight-bold">{{ po.po_date|date:'F d, Y' }}</div>
        </div>
        <div class="row invoice-info">
            <div class="col-lg-1 invoice-col">Category:</div>
            <div class="col-lg-5 invoice-col font-weight-bold">{{ po.category }}</div>
            <div class="col-lg-1 invoice-col">Notes:</div>
            <div class="col-lg-5 invoice-col font-weight-bold">{{ po.notes }}</div>
        </div>
        <div class="row invoice-info">
            <div class="col-lg-1 invoice-col">Status:</div>
            <div class="col-lg-5 invoice-col font-weight-bold">{{ po.get_status }}</div>
            
            {% if po.get_received_items_count > 0 %}
            <div class="col-lg-1 invoice-col"><abbr title="Receiving Reference Number">Ref. No.:</abbr></div>
            <div class="col-lg-5 invoice-col font-weight-bold">{{ po.reference_number }}</div>
            {% endif %}
        </div>
        <!-- /.info row -->
        <div class="row mt-2">
            <div class="col-12">
                {% if po.process_step < 3 and user.userdetail.userType == 'Purchaser' %}
                <a href="{% url 'po_edit' po.pk %}" class="btn btn-sm btn-info float-right">Edit Details</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-4">
                {% if po.process_step < 3 and user.userdetail.userType == 'Purchaser' %}
                    <button id="add-item" class="btn btn-primary" type="button" name="add-item">Add Item</button>
                {% else %}
                    
                {% endif %}
            </div>
            <div class="col-8">
                <span class="float-right">
                    {% if po.get_status == 'Open' %}
                    <button type="button" class="btn btn-dark mb-2" id="receive_inv" name="receive_inv">Receive Inventory</button>
                    
                    {% if po.get_received_items_count > 0 %}
                    <a href="{% url 'view_undelivered' po.pk %}" class="btn btn-dark mb-2" role="button">View Undelivered</a>
                    <a href="{% url 'print_variance' po.pk %}" class="btn btn-dark mb-2" role="button">Print Variance Report</a>
                    {% endif %}
                        
                    {% endif %}
                    {% if po.get_received_items_count > 0 %}
                    <br>
                    <a href="{% url 'print_receiving' po.pk %}" class="btn btn-dark mb-2" role="button">Print Receiving Report</a>
                    {% endif %}
                    <a href="{% url 'print_po' po.pk %}" class="btn btn-dark mb-2" role="button">Print PO</a>
                </span>
            </div>
        </div>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    {% if po.process_step < 3 and user.userdetail.userType == 'Purchaser' and po.get_received_items_count == 0 %}
                    <th width="9%">Action</th>
                    {% endif %}
                    <th width="15%">Barcode</th>
                    <th width="30%">Description</th>
                    <th width="9%">Ordered Qty</th>
                    {% if po.get_received_items_count > 0 %}
                    <th width="9%">Received Qty</th>
                    {% endif %}
                    <th width="10%">Units</th>
                    <th width="12%">Unit Price</th>
                    <th width="15%">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                
                {% if not products %}
                    <tr><td colspan="7" style="text-align: center;">No products added yet.</td></tr>
                {% else %}
                    {% for item in products %}
                        <tr>
                            {% if po.process_step < 3 and user.userdetail.userType == 'Purchaser' and po.get_received_items_count == 0 %}
                            <td class="text-center">
                                
                                <a href="#" class="update-item" data-form-url="{% url 'product_edit' po.pk item.pk %}">
                                    <i class="far fa-edit"></i>
                                </a>| 
                                <a href="#" class="delete-item" data-product-name="{{ item.product.full_description }}" data-form-url="{% url 'product_delete' po.pk item.pk %}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                            {% endif %}
                            <td class="text-center">{{ item.product.barcode }}</td>
                            <td>{{ item.product.full_description }}</td>
                            <td class="text-center">{{ item.ordered_quantity }}</td>
                            {% if po.get_received_items_count > 0 %}
                            <td class="text-center">{{ item.received_qty }}</td>
                            {% endif %}
                            <td class="text-center">{{ item.product.uom }}{{ item.ordered_quantity|pluralize }}</td>
                            <td class="text-right">{{ item.unit_price|peso }}</td>
                            <td class="text-right">{{ item.get_po_subtotal|peso }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="table-primary">
                        {% if po.process_step < 3 and user.userdetail.userType == 'Purchaser' %}
                        <td colspan="2" class="text-left">TOTAL</td>
                        {% else %}
                        <td class="text-left">TOTAL</td>
                        {% endif %}
                        <td>{{ po.get_item_count }} item{{ po.get_item_count|pluralize }}</td>
                        <td colspan="{% if po.get_received_items_count > 0 %}4{% else %}3{% endif %}" class="text-center"></td>
                        <td class="text-right">{{ po.get_total_po_amount|peso }}</td>
                    </tr>
                {% endif %}
                    
            </tbody>
        </table>


    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12">
                {% if user.userdetail.userType == 'Purchaser' and po.process_step < 5 %}
                
                    {% if products %}
                    <button type="button" name="submit_btn" id="submit_btn" class="btn btn-warning card-link">Submit</button>
                    {% endif %}
                    
                    <button type="button" id="cancel" class="btn btn-danger card-link">Cancel</button>
                {% elif user.userdetail.userType == po.get_user_type and user.userdetail.userType != 'Officer-In-Charge' or user.userdetail.userType == 'Officer-In-Charge' and user.userdetail.oic_for == po.category %}
                    <input type="hidden" name="reject_reason" id="reject_reason" >
                    <button type="button" name="approve_btn" id="approve_btn" class="btn btn-warning card-link">Approve</button>
                    <button type="button" name="reject_btn" id="reject_btn" class="btn btn-danger card-link">Reject</button>
                {% endif %}
                <a href="{% url 'po_list' supplier.pk %}" class="btn btn-default card-link float-right">Back to list</a>
            </div>
        </div>
    </div>
</div>
</form>

<form id="delete_form" method="POST">
    {% csrf_token %}
</form>

{% endblock main_content %}

{% block js %}
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <!-- bootboxjs -->
  <script src="{% static 'js/bootbox.all.min.js' %}"></script>


  <script type="text/javascript">
    $(document).ready(function() {
        
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
    
        $("#add-item").modalForm({
            formURL: "{% url 'product_add' pk=po.pk %}"
        });
        
        function updateItemModalForm() {
          $(".update-item").each(function () {
            $(this).modalForm({
              formURL: $(this).data("form-url")
            });
          });
        }
        updateItemModalForm();
        
        function deleteItemModalForm() {
          $(".delete-item").each(function () {
            $(this).click(function() {
                var url = $(this).data("form-url");
                var product = $(this).data("product-name");
                bootbox.confirm("Are you sure you want to remove " + product + "?", function(result){ 
                    if (result) {
                        // location.href = url;
                        $('#delete_form').attr('action', url);
                        $('#delete_form').submit()
                    }
                });
            });
          });
        }
        deleteItemModalForm();

        $('#submit_btn').click(function() {
            bootbox.confirm("Are you sure you want to submit this purchase order for approval?", function(result){ 
                if (result) {
                    $('#submit_po_form').attr('action', "{% url 'submit_po' po.pk %}");
                    $('#submit_po_form').submit();
                }
            });
        })

        $('#cancel').click(function() {
            bootbox.confirm("Are you sure you want to cancel this transaction? All added information and products will be removed.", function(result){ 
                if (result) {
                    $('#delete_form').attr('action', "{% url 'po_delete' po.pk %}");
                    $('#delete_form').submit();
                }
            });
        })

        $('#approve_btn').click(function() {
            bootbox.confirm("Are you sure you want to approve this purchase order?", function(result){ 
                if (result) {
                    $('#submit_po_form').attr('action', "{% url 'approve_po' po.pk %}");
                    $('#submit_po_form').submit();
                }
            });
        })

        $('#reject_btn').click(function() {
            bootbox.confirm("Are you sure you want to reject this purchase order?", function(result){ 
                if (result) {
                    bootbox.prompt("Please enter the reason for rejecting this purchase order.", function(result){ 
                        if (result != null) {
                            $('#reject_reason').val(result);
                            $('#submit_po_form').attr('action', "{% url 'reject_po' po.pk %}");
                            $('#submit_po_form').submit();
                        }
                    });
                }
            });
        })

        $('#receive_inv').click(function() {
            bootbox.prompt({
                title: "Reference Number:",
                'value': "{{ po.reference_number }}",
                callback: function (result) {
                    if (result != null)
                        $.ajax({
                            url: "{% url 'update_ref_no' po.pk %}",
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': "{{ csrf_token }}",
                                'value': result, 
                            },
                            dataType: 'json',
                            success: function(data) {
                                location.href = data;
                            }
                        })
                }
            });
        })
    
    });
  </script>

{% endblock js %}
    