{% extends '../base.html' %}
{% load static form_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">
{% endblock css %}
    
{% block page_title %}Print Receiving Report{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'purchase_suppliers' %}">Purchases</a></li>
    <li class="breadcrumb-item"><a href="{% url 'po_list' po.supplier.pk %}">Purchase Orders</a></li>
    <li class="breadcrumb-item active">Receiving Report</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="container">
    <!-- Main content -->
    <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row mb-4">
            <div class="col-12 text-center">
                <img src="{% static 'img/logo.png' %}" alt="AKEMPCO Logo" width="100px" style="z-index: 999;" class="float-left">
                <h4 class="text-uppercase">{{ akempco.name }}</h4>
                <div>{{ akempco.address }}</div>
                
                {% if akempco.registration_number %}
                <div>{{ akempco.registration_number }}</div>
                {% endif %}
                
                {% if akempco.contact_numbers %}
                <div>{{ akempco.contact_numbers }}</div>
                {% endif %}
                
                {% if akempco.email %}
                <div>{{ akempco.email }}</div>
                {% endif %}
                    
                <div class="mt-4 mb-2">
                    <h2>RECEIVING REPORT</h2>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-1 invoice-col">Supplier:</div>
            <div class="col-sm-7 invoice-col text-bold text-truncate">{{ po.supplier.supplier_name }}, <span class="text-muted">{{ po.supplier.address }}</span></div>
            <div class="col-sm-1 invoice-col">Ref. No.:</div>
            <div class="col-sm-3 invoice-col text-bold">{{ po.reference_number }}</div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-1 invoice-col">PO #:</div>
            <div class="col-sm-7 invoice-col text-bold">{{ po.pk|seq_num }}</div>
            <div class="col-sm-1 invoice-col">Date:</div>
            <div class="col-sm-3 invoice-col text-bold">{{ po.received_date|date:'F d, Y' }}</div>
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row mt-4">
            <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="15%">Barcode</th>
                        <th width="30%">Description</th>
                        <th width="12%">Qty</th>
                        <th width="13%">Units</th>
                        <th width="15%">Unit Price</th>
                        <th width="15%">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in po_list %}
                {% if item.received_qty > 0 %}
                    <tr>
                        <td class="text-center">{{ item.product.barcode }}</td>
                        <td>{{ item.product.full_description }}</td>
                        <td class="text-center">{{ item.received_qty }}</td>
                        <td class="text-center">{{ item.product.uom }}{{ item.received_qty|pluralize }}</td>
                        <td class="text-right">{{ item.unit_price|peso }}</td>
                        <td class="text-right">{{ item.received_subtotal|peso }}</td>
                    </tr>
                {% endif %}
                {% endfor %}

                    <tr class="table-primary">
                        <td class="text-left">TOTAL</td>
                        <td>{{ po.item_count }} item{{ po.item_count|pluralize }}</td>
                        <td colspan="3" class="text-center"></td>
                        <td class="text-right">{{ po.total_received_amount|peso }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row mt-4">
            <div class="col-6">
                <p>Received by:</p>
                <div class="text-center font-weight-bold mt-6"><u>{{ po.received_by.get_full_name }}</u></div>
                <div class="text-center font-weight-light">{{ po.received_by.userdetail.userType }}</div>
            </div>
        </div>
        <!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print mt-4">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="window.print();">
                    <i class="fas fa-print"></i>&nbsp;Print
                </button>
                <button type="button" class="btn btn-secondary" onclick="history.back();">
                    Back to Purchase Order
                </button>
            </div>
        </div>
    </div>
    <!-- /.invoice -->
</div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_purchases").addClass("active")
        })
    </script>
{% endblock js %}