{% extends '../base.html' %}
{% load static form_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">
{% endblock css %}
    
{% block page_title %}
Stock Management
<h4 class="text-muted">Requisition Voucher</h4>
{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'stock_list' %}">Stock Management</a></li>
    <li class="breadcrumb-item active">Requisition Vouchers</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <div class="card-header">
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <form method="post" action="{% url 'new_rv' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">New Requisition Voucher</button>
            </form>
        </div>
        
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <form method="get">
            {% include 'includes/search_tool.html' %}
            </form>
        </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-head-fixed table-sm">
            <thead>
                <tr>
                    <th width="15%" class="text-center">Action</th>
                    <th width="20%" class="text-left">RV #</th>
                    <th width="20%" class="text-center">Number of Items</th>
                    <th width="20%" class="text-left">Date</th>
                    <th width="25%" class="text-left">Status</th>
                </tr>
            </thead>
            <tbody>

                {% if not rv %}
                    <tr><td colspan="6" style="text-align: center;">No data found.</td></tr>
                {% else %}

                {% for item in rv %}
                    <tr>
                        <td class="text-center">
                            <a href="#" title="View RV"><i class="far fa-eye"></i></a>
                        </td>
                        <td>{{ item.pk|seq_num }}</td>
                        <td class="text-center">{{ item.get_item_count }}</td>
                        <td>{{ item.requested_at }}</td>
                        <td>{{ item.get_status }}</td>
                    </tr>
                {% endfor %}

                {% endif %}
                    
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {% include 'includes/pagination.html' %}
    </div>
</div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_stocks").addClass("active")
        })
    </script>
{% endblock js %}