{% extends '../base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block page_title %}Price Management
<div class="text-muted">
{% if type == 'selected' %}
For Approval
{% else %}
All Products
{% endif %}
{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Pricing</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <form method="get">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                
                {% if type == 'selected' %}
                    <a href="{% url 'price_all' %}" class="btn btn-primary">View Prices of All Products</a>
                {% else %}
                    <a href="{% url 'price_review' %}" class="btn btn-primary">View Prices for Approval</a>
                {% endif %}
                    
            </div>
            </div>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table id="dtReview" class="table table-hover table-head-fixed table-sm">
                <thead>
                    <tr>
                        <th class="text-center">Action</th>
                        <th>Product</th>
                        <th class="text-right">Latest Supplier Price</th>
                        <th class="text-right">Retail Price</th>
                        <th class="text-right">Wholesale Price</th>
                        <th class="text-center">Wholesale Qty</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        
    </div>
    
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            const src = "{{ type }}" == 'selected' ? 
                            "{% url 'price_review_dt' %}" :
                            "{% url 'price_all_dt' %}";
            $("#dtReview").DataTable({
                serverSide: true,
                sAjaxSource: src, 
                columns: [
                    {   
                        name: 'links',
                        data: 0,
                        render: function (data) {
                            return '<a href="product/' + data + '/entry" title="Details"><i class="fas fa-info-circle"></i></a>';
                        },
                        className: 'text-center'
                    },
                    { 
                        name: 'full_description', 
                        data: 1
                    },
                    {
                        name: "latest_supplier_price", 
                        data: 2, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                    {
                        name: "selling_price", 
                        data: 3, 
                        className: 'text-right',
                        render: function (data) {
                            if (data > 0)
                                return peso.format(data);
                            else
                                return '<span style="background-color: #f00;">' + peso.format(data) + '</span>';
                        }
                    },
                    {
                        name: "wholesale_price", 
                        data: 4, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                    {
                        name: "wholesale_qty", 
                        data: 5, 
                        className: 'text-center'
                    },
                ],
                order: [[1, 'asc']],
            });

            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_pricing").addClass("active")
        })
    </script>
{% endblock js %}