{% extends '../base.html' %}
{% load static %}

{% block page_title %}Change Password{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Change password</li>
{% endblock breadcrumb %}

{% block main_content %}
  <style>
    label {
      display: block;
    }
    .card {
      width: 50% !important;
    }
  </style>


<div class="card mt-4 mx-auto">
  
  <div class="card-body">
    <form method="post" novalidate>
      {% csrf_token %}
      {% include '../includes/form.html' %}
      {{ formset.as_p }}
      <div class="row">
        <div class="col-8">
        </div>
        <!-- /.col -->
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>

</div>
{% endblock main_content %}      

{% block js %}
  <script>
    $(document).ready(function () {
      $('#id_first_name').focus()
    })
  </script>
{% endblock js %}
  
