{% extends '../base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
{% endblock css %}

{% block page_title %}

{% if creditor %}
Edit Creditor
{% else %}
New Creditor
{% endif %}
    
{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'cred_list' %}">Creditor</a></li>
    <li class="breadcrumb-item active">
    {% if creditor %}
    Edit
    {% else %}
    New
    {% endif %}
    </li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="card-header">
                <h3 class="card-title">Please fill-in all the fields.</h3>
            </div>

            <div class="card-body">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    {% include '../includes/form.html' %}
                </div>
            </div>
            
            <div class="card-footer">
                
                {% if not creditor %}
                <button type="submit" class="btn btn-primary" name="another">Save and add another</button>
                {% endif %}
                    
                <button type="submit" class="btn btn-success" name="save">Save</button>
                <a href="{% url 'cred_list' %}" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_fm").addClass("menu-open")
            $("#menu_fm_cred").addClass("active")

            // create a function that is triggered when the creditor type is changed
            $("#id_creditor_type").change(function() {
                // if creditor type is a group creditor, hide the ID number field
                if ($("#id_creditor_type").val() == "Group") {
                    $("#id_id_number").parent().hide()
                    $("#id_id_number").val("0")
                }
                else {
                    $("#id_id_number").parent().show()
                    $("#id_id_number").val("")
                }   
            })
        })
    </script>
{% endblock js %}