{% extends '../base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block page_title %}List of Members and Creditors{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Members and Creditors</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="get">
            <div class="card-header">
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="{% url 'new_cred' %}" class="btn btn-primary">New</a>
                </div>
                </div>
            </div>
        </form>
        <div class="card-body table-responsive">
            <table id="dtCreditor" class="table table-hover table-head-fixed table-sm">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">Action</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th class="text-center">Type</th>
                        <th class="text-right">Credit Limit</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#dtCreditor").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'cred_dtlist' %}", 
                columns: [
                    {   
                        data: 0,
                        render: function (data) {
                            return '<a href="creditor/' + data + '/edit" title="Edit"><i class="far fa-edit"></i></a>';
                        },
                        className: 'text-center'
                    },
                    {name: "name", data: 1},
                    {name: "address", data: 2},
                    {
                        name: "type", 
                        data: 3,
                        className: 'text-center',
                        render: function (data) {
                            return (data === 'Member') ? '<span class="badge badge-pill badge-primary">Member</span>' : '<span class="badge badge-pill badge-dark">Group</span>';
                        }
                    },
                    {
                        name: "credit_limit", 
                        data: 4, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                    {
                        name: "status", 
                        data: 5,
                        className: 'text-center',
                        render: function (data) {
                            return (data === true) ? '<span class="badge badge-pill badge-success">Active</span>' : '<span class="badge badge-pill badge-danger">Inactive</span>';
                        }
                    },
                ],
                order: [[1, 'asc']],
            });
            
            $("#menu_fm").addClass("menu-open")
            $("#menu_fm_cred").addClass("active")
        })
    </script>
{% endblock js %}
    