{% extends '../base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block page_title %}List of Members and Creditors{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Members</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="card m-4">
    <form method="get">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="{% url 'download_csv' %}" class="btn btn-primary">Download as CSV</a>
                <a href="{% url 'upload_csv' %}" class="btn btn-warning">Upload Payment CSV</a>
            </div>
            </div>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table id="dtCreditor" class="table table-hover table-head-fixed table-sm">
            <thead>
                <tr>
                    <th class="text-center" width="10%">Action</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th class="text-center">Type</th>
                    <th class="text-right">Credit Limit</th>
                    <th class="text-center">Payable</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#dtCreditor").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'cred_dtlist' %}", 
                columns: [
                    {   
                        name: 'links',
                        data: 0,
                        render: function (data) {
                            return '<a href="payment/' + data + '/new" class="add-payment" title="Add Payment"><i class="fas fa-money-bill"></i></a>';
                        },
                        className: 'text-center'
                    },
                    { name: 'name', data: 1},
                    { name: 'address', data: 2},
                    { name: 'creditor_type', data: 3},
                    {
                        name: "credit_limit", 
                        data: 4, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                    {
                        name: "payable", 
                        data: 6, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                ],
                order: [[1, 'asc']],
            });

            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_payment").addClass("active")
        })
    </script>
{% endblock js %}
    