{% extends './base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">
{% endblock css %}
    
{% block page_title %}Member's Payment History{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Payment History</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="container-fluid">
    <!-- Main content -->
    <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row mb-4">
            <div class="col-12 text-center"><h2>Payment History</h2></div>
        </div>
        <!-- table row -->
        <div class="row mb-4">
            <div class="col-lg-6 col-sm-12 mx-auto table-responsive">
                <table id="dtPayments" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Date Posted</th>
                            <th class="text-right">Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 11pt;">
                        {% for payment in payments %}
                        <tr>
                            <td>{{ payment.date_posted|date:'F d, Y'}} </td>
                            <td class="text-right">{{ payment.amount|peso }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print mt-4">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" onclick="window.print();">
                    <i class="fas fa-print"></i>&nbsp;Print
                </button>
                <button type="button" class="btn btn-default" onclick="history.back();">
                    Back to list
                </button>
            </div>
        </div>
    </div>
    <!-- /.invoice -->
</div>
{% endblock main_content %}


{% block js %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#dtPayments").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'transaction_history_dt' %}", 
                columns: [
                    { 
                        name: 'date_posted', 
                        data: 1,
                        render: function (data) {
                            return $.datepicker.formatDate('MM d, yy', new Date(data));
                        }
                    },
                    {
                        name: "amount", 
                        data: 2, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                ],
                order: [[0, 'desc']],
            });
        })
    </script>
{% endblock js %}