{% extends './base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">
{% endblock css %}
    
{% block page_title %}Member's Transaction History{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Transaction History</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="container-fluid">
    <!-- Main content -->
    <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row mb-4">
            <div class="col-12 table-responsive">
                <table id="dtTransaction" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>SI Number</th>
                            <th>Sales Date/Time</th>
                            <th class="text-center">Item Count</th>
                            <th>Mode of Payment</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 11pt;">
                        {% for trans in transactions %}
                        <tr>
                            <td class="text-center"><a href="#" class="view-receipt" title="View Receipt" data-form-url="{% url 'open_transaction' trans.pk %}"><i class="far fa-eye"></i></a></td>
                            <td class="text-center">{{ trans.pk|seq_num }}</td>
                            <td>{{ trans.sales_datetime|date:'M d, Y H:i'}} </td>
                            <td class="text-center">{{ trans.sales.item_count }}</td>
                            <td>{{ trans.get_payment_modes_as_string }} </td>
                            <td class="text-right">{{ trans.sales.total|peso }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print mt-4">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="window.print();">
                    <i class="fas fa-print"></i>&nbsp;Print
                </button>
                <button type="button" class="btn btn-default" onclick="history.back();">
                    Back to list
                </button>
            </div>
        </div>
    </div>
    <!-- /.invoice -->
</div>
{% endblock main_content %}


{% block js %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#dtTransaction").DataTable({
                order: [[1, 'desc']],
            });
            

            function viewReceipt() {
                $(".view-receipt").each(function () {
                    $(this).click(function() {
                        console.log($(this).data('form-url'));
                    })
                    $(this).modalForm({
                        formURL: $(this).data("form-url")
                    });
                });
            }
            viewReceipt();
        })
    </script>
{% endblock js %}