{% extends './base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">
{% endblock css %}
    
{% block page_title %}Member's Transaction History{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Transaction History</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="container-fluid">
    <!-- Main content -->
    <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row mb-4">
            <div class="col-12 text-center"><h2>Transaction History</h2></div>
        </div>
        <!-- table row -->
        <div class="row mb-4">
            <div class="col-12 table-responsive">
                <table id="dtTransaction" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>SI Number</th>
                            <th>Sales Date/Time</th>
                            <th class="text-center">Item Count</th>
                            <th>Mode of Payment</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 11pt;">
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print mt-4">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="window.print();">
                    <i class="fas fa-print"></i>&nbsp;Print
                </button>
                <button type="button" class="btn btn-default" onclick="history.back();">
                    Back to list
                </button>
            </div>
        </div>
    </div>
    <!-- /.invoice -->
</div>
{% endblock main_content %}


{% block js %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#dtTransaction").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'transaction_history_dt' %}", 
                columns: [
                    {   
                        name: 'links',
                        data: 0,
                        render: function (data) {
                            const url = "history/" + data + "/open";
                            return '<a href="#" class="view-receipt" title="View Receipt" data-form-url="' + url + '"><i class="far fa-eye"></i></a>';
                        },
                        className: 'text-center'
                    },
                    { 
                        name: 'pk', 
                        data: 0,
                        render: function (data) {
                            return String(data).padStart(12, '0');
                        }
                    },
                    { 
                        name: 'date_time', 
                        data: 1,
                        render: function (data) {
                            return $.datepicker.formatDate('MM d, yyyy', new Date(data));
                        }
                    },
                    { name: 'item_count', data: 2, className: 'text-center'},
                    { name: 'payment_modes', data: 3},
                    {
                        name: "total", 
                        data: 4, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                ],
                order: [[1, 'desc']],
                initComplete: function () {
                    $(".view-receipt").each(function () {
                        $(this).modalForm({
                            formURL: $(this).data("form-url")
                        });
                    });
                }
            });
        })
    </script>
{% endblock js %}