{% extends '../base.html' %}
{% load static %}

{% block page_title %}
Import {% if type == 'D' %}Data{% elif type == 'S' %}Suppliers{% elif type == 'C' %}Creditors{% endif %}
{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
{% endblock css %}
    

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Import {% if type == 'D' %}Data{% elif type == 'S' %}Suppliers{% elif type == 'C' %}Creditors{% endif %}</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="mx-4">
    <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link {% if type == 'D' %}active{% endif %}" href="{% url 'import_form' %}?type=D">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if type == 'S' %}active{% endif %}" href="{% url 'import_form' %}?type=S">Suppliers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if type == 'C' %}active{% endif %}" href="{% url 'import_form' %}?type=C">Creditors</a>
    </li>
    </ul>
</div>

    <div class="card m-4">
        {% if msg %}
            <div class="alert alert-{{ msg_type }}">
                {{ msg }}
            </div>
        {% else %}
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <div class="card-header">
                <h3 class="card-title">Please fill in all the fields marked with an <label class="required">asterisk</label>.</h3>
            </div>

            <div class="card-body">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    {% include '../includes/form.html' %}
                </div>
            </div>
            
            <div class="card-footer">
                
                <button type="submit" class="btn btn-success" name="save">Save</button>
                <a href="{% url 'dashboard' %}" class="btn btn-default">Cancel</a>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_trans").addClass("menu-open")
            $("#menu_import_data").addClass("active")
        })
    </script>
{% endblock js %}