{% extends '../base.html' %}
{% load static form_tags %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block page_title %}Bad Orders{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Bad Orders</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="get">
            <div class="card-header">
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="{% url 'new_bo' %}" class="btn btn-primary">New</a>
                </div>
                </div>
            </div>
        </form>
        <div class="card-body table-responsive">
            <table id="dtBo" class="table table-hover table-head-fixed table-sm">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">Action</th>
                        <th class="for_audit">Location</th>
                        <th>Supplier</th>
                        <th>Date Discovered</th>
                        <th class="text-center">Item Count</th>
                        <th class="text-right">Total Cost</th>
                        <th>Action Taken</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            const userType = "{{ user.userdetail.userType }}";
            $("#dtBo").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'bo_dtlist' %}", 
                columns: [
                    {   
                        name: "links",
                        data: 0,
                        render: function (data) {
                            let links = '<a href="' + data + '/products" title="View"><i class="fas fa-eye"></i></a>';

                            return links;
                        },
                        className: 'text-center'
                    },
                    {   
                        name: "supplier_name",
                        data: 1,
                        render: function (data) {
                            let loc = 'Store';
                            if (data)
                                loc = 'Warehouse';
                            
                            return loc;
                        },
                        className: 'text-center'
                    },
                    {name: "supplier_name", data: 2},
                    {
                        name: "date_discovered",
                        data: 3,
                        render: function (data) {
                            return $.datepicker.formatDate('MM d, yyyy', new Date(data));
                        }
                    },
                    {name: "number_of_items", data: 4, className: 'text-center'},
                    {
                        name: "grand_total", 
                        data: 5, 
                        className: 'text-right',
                        render: function (data) {
                            return peso.format(data);
                        }
                    },
                    {name: "action_taken", data: 6},
                    {
                        name: "status", 
                        data: 7,
                        render: function (data) {
                            let status = "";
                            if (data === 1)
                                status = "Pending";
                            else if (data === 2)
                                status = "For Approval";
                            else if (data === 3)
                                status = "Open";
                            else if (data === 4)
                                status = "Closed";
                            else
                                status = "Rejected";

                            return status;
                        }
                    },
                ],
                order: [[2, 'asc']],
                initComplete: function () {
                    var api = this.api();
                    
                    if ( userType !== 'Audit Committee' ) {
                        // Hide Office column
                        api.column(1).visible( false );
                    }
                }
            });
            if (userType !== 'Audit Committee')
                $('.for_audit').hide();

            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_bo").addClass("active")
        })
    </script>
{% endblock js %}
    