{% extends '../base.html' %}
{% load static form_tags %}

{% block page_title %}Bad Orders{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Bad Orders</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="get">
            <div class="card-header">
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="{% url 'new_bo' %}" class="btn btn-primary">New</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    {% include 'includes/search_tool.html' %}
                </div>
                </div>
            </div>
        </form>
        <div class="card-body table-responsive">
            <table class="table table-hover table-head-fixed table-sm">
                <thead>
                    <tr>
                        <th class="text-center" width="10%">Action</th>
                        {% if user.userdetail.userType == 'Audit Committee' %}
                        <th>Location</th>
                        {% endif %}
                        <th>Supplier</th>
                        <th>Date Discovered</th>
                        <th class="text-center">Item Count</th>
                        <th class="text-right">Total Cost</th>
                        <th>Action Taken</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% if not badorders %}
                        <tr><td colspan="6" class="text-center">No data found.</td></tr>
                    {% else %}
                        
                    {% for bo in badorders %}
                        <tr>
                            <td class="text-center">
                                {% if bo.is_updatable and user.userdetail.userType == 'Warehouse Staff' %}
                                    <a href="{% url 'bo_products' bo.pk %}" title="Edit"><i class="far fa-edit"></i></a>
                                {% elif bo.is_for_approval and user.userdetail.userType == 'Audit Committee' %}
                                    <a href="{% url 'bo_products' bo.pk %}" title="Manage BO"><i class="fas fa-check-double"></i></a>
                                {% elif bo.is_approved %}
                                     <a href="{% url 'bo_products' bo.pk %}" title="Action Taken"><i class="fas fa-fist-raised"></i></a>
                                {% else %}
                                     <a href="{% url 'bo_products' bo.pk %}" title="View"><i class="fas fa-eye"></i></a>
                                {% endif %}
                                
                            </td>
                            {% if user.userdetail.userType == 'Audit Committee' %}
                            <td>{{ bo.in_warehouse|yesno:'Warehouse,Store,-' }}</td>
                            {% endif %}
                            <td>{{ bo.supplier.supplier_name }}</td>
                            <td>{{ bo.date_discovered|date:'F d, Y' }}</td>
                            <td class="text-center">{{ bo.number_of_items }}</td>
                            <td class="text-right">{{ bo.grand_total|peso }}</td>
                            <td>{{ bo.action_taken }}</td>
                            <td>{{ bo.get_status }}</td>
                        </tr>
                    {% endfor %}
                        
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% include 'includes/pagination.html' %}
        </div>
    </div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_fm").addClass("menu-open")
            $("#menu_trans_bo").addClass("active")
        })
    </script>
{% endblock js %}
    