{% extends '../base.html' %}
{% load static form_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/table_setup.css' %}">
{% endblock css %}
    
{% block page_title %}Print Bad Order{% endblock page_title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'bo_list' %}">Bad Orders</a></li>
<li class="breadcrumb-item active">Print</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="container">
    <!-- Main content -->
    <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row mb-4">
            <div class="col-12 text-center">
                <img src="{% static 'img/logo.png' %}" alt="AKEMPCO Logo" width="100px" style="z-index: 999;" class="float-left">
                <h4 class="text-uppercase">{{ akempco.name }}</h4>
                <div>{{ akempco.address }}</div>
                
                {% if akempco.registration_number %}
                <div>{{ akempco.registration_number }}</div>
                {% endif %}
                
                {% if akempco.contact_numbers %}
                <div>{{ akempco.contact_numbers }}</div>
                {% endif %}
                
                {% if akempco.email %}
                <div>{{ akempco.email }}</div>
                {% endif %}
                    
                <div class="mt-4 mb-2">
                    <h2>BAD ORDER</h2>
                </div>
                    
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-1 invoice-col">BO No.:</div>
            <div class="col-sm-4 invoice-col text-bold">{{ badorder.pk|seq_num }}</div>
            <div class="col-sm-2 invoice-col">Date Reported:</div>
            <div class="col-sm-4 invoice-col text-bold">{{ badorder.date_reported|date:'F d, Y' }}</div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-1 invoice-col">Supplier:</div>
            <div class="col-sm-4 invoice-col text-bold">{{ badorder.supplier.supplier_name }}</div>
            <div class="col-sm-2 invoice-col">Date Discovered:</div>
            <div class="col-sm-4 invoice-col text-bold">{{ badorder.date_discovered|date:'F d, Y' }}</div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-1 invoice-col">Status:</div>
            <div class="col-sm-4 invoice-col text-bold">
                {{ badorder.get_status }}
                
                {% if badorder.is_rejected %}
                    :<span class="text-danger"> {{ badorder.reject_reason }}</span>
                {% endif %}
            </div>
            <div class="col-sm-2 invoice-col">Action Taken:</div>
            <div class="col-sm-4 invoice-col text-bold">{{ badorder.action_taken }}</div>
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row mt-4">
            <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="15%">Barcode</th>
                        <th class="text-left" width="30%">Description</th>
                        <th width="10%" class="text-center">Quantity</th>
                        <th width="10%">Units</th>
                        <th class="text-left">Reason</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in products %}
                    <tr>
                        <td>{{ item.product.barcode }}</td>
                        <td>{{ item.product.full_description }}</td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-center">{{ item.product.uom }}{{ item.requested_qty|pluralize }}</td>
                        <td>{{ item.reason }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        
        <div class="row mt-4">
            <div class="col-6">
                <p>Reported by:</p>
                <div class="text-center font-weight-bold mt-6"><u>{{ badorder.reported_by.get_full_name }}</u></div>
                <div class="text-center font-weight-light">{{ badorder.reported_by.userdetail.userType }}</div>
            </div>
            <div class="col-6">
                <p>Approved by:</p>
                <div class="text-center font-weight-bold mt-6"><u>{{ badorder.approved_by.get_full_name }}</u></div>
                <div class="text-center font-weight-light">{{ badorder.approved_by.userdetail.userType }}</div>
            </div>
        </div>

        <!-- this row will not appear when printing -->
        <div class="row no-print mt-4">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="window.print();">
                    <i class="fas fa-print"></i>&nbsp;Print
                </button>
                <button type="button" class="btn btn-secondary" onclick="history.back();">
                    Back to Bad Order
                </button>
            </div>
        </div>
    </div>
    <!-- /.invoice -->
</div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_trans").addClass("menu-open")
            $("#menu_trans_bo").addClass("active")
        })
    </script>
{% endblock js %}