{% extends '../base.html' %}
{% load static %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block page_title %}Category list{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Category</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <form method="get">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="{% url 'new_category' %}" class="btn btn-primary">New</a>
                </div>
            </div>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table id="dtCategory" class="table table-hover table-head-fixed table-sm">
            <thead>
                <tr>
                    <th class="text-center" width=10%>Action</th>
                    <th>Category</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#dtCategory").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'category_dtlist' %}", 
                columns: [
                    {   
                        data: 0,
                        render: function (data) {
                            return '<a href="category/' + data + '/edit" title="Edit"><i class="far fa-edit"></i></a>';
                        },
                        className: 'text-center'
                    },
                    {name: "description", data: 1},
                    {name: "status", data: 2},
                ],
                order: [[1, 'asc']],
            });
            
            $("#menu_fm").addClass("menu-open")
            $("#menu_fm_category").addClass("active")
        })
    </script>
{% endblock js %}