{% extends '../base.html' %}
{% load static %}

{% block page_title %}Category list{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Category</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <form method="get">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="{% url 'new_category' %}" class="btn btn-primary">New</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {% include 'includes/search_tool.html' %}
            </div>
            </div>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table class="table table-hover table-head-fixed table-sm">
            <thead>
                <tr>
                    <th class="text-center" width=10%>Action</th>
                    <th>Category</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td class="text-center"><a href="{% url 'edit_category' category.pk %}" title="Edit"><i class="far fa-edit"></i></a></td>
                        <td>{{ category.category_description }}</td>
                        <td>{{ category.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
    <div class="card-footer">
        {% include 'includes/pagination.html' %}
    </div>
</div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_fm").addClass("menu-open")
            $("#menu_fm_category").addClass("active")
        })
    </script>
{% endblock js %}