{% extends '../base.html' %}
{% load static %}

{% block extra_header %}
{% include '../includes/datatable.html' %}    
{% endblock extra_header %}

{% block page_title %}Supplier list{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item active">Supplier</li>
{% endblock breadcrumb %}

{% block main_content %}
<div class="card m-4">
    <form method="get">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="{% url 'new_supplier' %}" class="btn btn-primary">New</a>
            </div>
            </div>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table id="dtSupplier" class="table table-hover table-head-fixed table-sm">
                <thead>
                    <tr>
                        <th class="text-center">Action</th>
                        <th>Supplier</th>
                        <th>Address</th>
                        <th>Contact Person</th>
                        <th>Contact Information</th>
                        <th>Email</th>
                        <th>Deducts VAT?</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#dtSupplier").DataTable({
                serverSide: true,
                sAjaxSource: "{% url 'supplier_dtlist' %}", 
                columns: [
                    {   
                        data: 0,
                        render: function (data) {
                            let links = '<a href="supplier/' + data + '/detail" title="Detail"><i class="far fa-eye"></i></a> | '+
                                        '<a href="supplier/' + data + '/edit" title="Edit"><i class="far fa-edit"></i></a>';

                            return links;
                        },
                        className: 'text-center'
                    },
                    {name: "name", data: 1},
                    {name: "address", data: 2},
                    {name: "contact_person", data: 3},
                    {name: "contact_info", data: 4},
                    {name: "email", data: 5},
                    {
                        name: "deducts_vat", 
                        data: 6,
                        render: function(data) {
                            return (data === true) ? 'Yes' : 'No'
                        },
                        className: 'text-center'
                    },
                    {name: "status", data: 7},
                ],
                order: [[1, 'asc']],
            });
            
            $("#menu_fm").addClass("menu-open")
            $("#menu_fm_supplier").addClass("active")
        })
    </script>
{% endblock js %}