{% extends '../base.html' %}
{% load static %}
{% load humanize %}

{% block page_title %}Supplier details{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'supplier_list' %}">Supplier</a></li>
    <li class="breadcrumb-item active">Details</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <div class="card-header">
            <h3>{{ supplier.supplier_name }}</h3>
            <h5 class="card-subtitle mb-2 text-muted">{{ supplier.address }}</h5>
            
            {% if supplier.less_vat %}
            <h5 class="card-subtitle mb-2 text-muted text-italic">This supplier deducts VAT from total.</h5>
            {% endif %}
                
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text"><span class="text-muted">Contact information: </span>{{ supplier.contact_info }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text"><span class="text-muted">Email: </span>{{ supplier.email }}</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text"><span class="text-muted">Tax Classification: </span>{{ supplier.tax_class }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text"><span class="text-muted"><abbr title="Tax Identification Number">TIN</abbr>: </span>{{ supplier.tin }}</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="card-text"><span class="text-muted">Notes: </span>
                        <div class="ml-4 mr-4">{{ supplier.notes }}</div>
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="card-text"><span class="text-muted">Supplied products: </span>
                        <div class="ml-4 mr-4">
                            <ul>
                                {% for product in supplier.product_set.all %}
                                    <li><a href="{% url 'product_detail' product.pk %}" title="View details">
                                        {{ product.full_description }}
                                    </a></li>
                                {% empty %}
                                    <li>No products assigned.</li>
                                {% endfor %}

                            </ol>
                        </div>
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text"><span class="text-muted">Created: </span>{{ supplier.created_at|naturaltime }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text">
                        <span class="text-muted">Cancelled: </span>{{ supplier.cancelled_at|naturaltime|default:'-' }}
                    </p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text"><span class="text-muted">Status: </span>{{ supplier.status }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row mt-4">
                <a href="{% url 'edit_supplier' supplier.pk %}" class="btn btn-warning card-link">Edit</a>
                <a href="{% url 'supplier_list' %}" class="btn btn-default card-link">Back to list</a>
            </div>
        </div>
    </div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu_fm").addClass("menu-open")
            $("#menu_fm_supplier").addClass("active")
        })
    </script>
{% endblock js %}